body{
    margin: 0;
    padding: 0;
}
.fa{
    font-family: Feather!important;
}
a{
    text-decoration: none;
}
// HEADER SECTION
header{
    color: 1F1F1F;

.shopper-icon {
    font-size: 28px;
    text-decoration: none;
    color: 1F1F1F;
}
.links a{
    font-size:18px;
    padding-left: 10px;
}
header i{
    padding-left: 10px;
}
}
.promo{
    display: flex;
    justify-content: space-between;
    background-color: rgb(245,245,245);
    padding-top: .75rem;
    padding-bottom: .75rem;
    .sec-1{
        margin-left: 13%;
        display: flex;
        justify-content: space-between;
        width: 30%;
        span{
            font-weight: 500;
            letter-spacing: 0.02em;
            font-size: .6875rem;
        }
    }
    .sec-2{
        width: 30%;
        margin-right: 13%;
        display: flex;
        justify-content: space-between;
        .sec-2-1{
            span{
            padding-right: 30px;
            }
        }
        .sec-2-2{
            display: flex;
            justify-content: space-between;
            width: 25%;
            padding-right: 25px;
            color: #767676;
        }
    }
}
.main-details{
    margin-left: 13%;
    margin-right: 13%;
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    .images{
         display: flex;
         flex-basis: 50%;
        .main-image{
          
            img{
                position: absolute;
                max-width: 37%;
            }
            .badge{
                position: absolute;
                top: 260px;
                border-radius: 0;
                // width: 50px;
                // height: 50px;
                background-color: #fd7e14;
                color: #fff;
                line-height: 1;
                font-weight: 500;
                font-size: .6875em;
                padding: 0.5rem 1em;
            }
        }
          .sub-image{
            width: 90px;
            height: 90px;
            display: flex;
            gap:10px;
            margin-top: 670px;
        }
    }
}
.product-info{
    margin-left: 10%;
    flex-basis: 50%;
    .view{
        display: flex;
        justify-content: space-between;
        .review{
            display: flex;
            align-self: center;
            align-items: center;
            height: 20px;
            a{
                margin-left: 15px;
                color: black;
            }
        }
        h6{
            color: #767676;
        }
    }
    h4{
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    .price{
        display: flex;
        // justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 2rem;
        .endirimsiz{
            color: #a6a6a6;
            text-decoration: line-through;
            font-size: 1.125rem;
        }
        .endirimli{
            color: rgb(255,111,97);
            font-size: 1.5rem;
            font-weight: bold;
        }
        .stock{
            font-size: .9375rem;
            padding-top: 5px;
        }
    }
    .color{
        .image{
            display: flex;
            gap: 10px;
            .image1, .image2,img{
                width: 80px;
                height: 80px;
            }
        }
    }
    .product-size{
        margin-bottom: 1.25rem;
        margin-top: 2rem;
        span{
            margin-bottom: 1.5rem;
        }
        .size-table{
            display: grid;
            flex-direction: row;
            grid-template-columns:auto auto auto auto auto auto auto auto;
            margin-top: 1.5rem;
            margin-bottom: 4rem;
            .size{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                margin-bottom: 5px;
                margin-right: 5px;
                border: 1px solid #ddd;
            }
        }
    }
    .addcart-wish{
        display: flex;
        justify-content: space-between;

        .select{
            width: 25%;
            height: 60px;
            border: 2px solid #ddd; 
            text-align: center;
            font-size: 20px;
            span{
                display: flex;
                justify-content: center;
                align-items:center;
                color: red;
            }
        }
        .addtocart{
            display: flex;
            justify-content: center;
            gap: 10px;
            align-items: center;
            width: 38%;
            height: 60px;
            background-color: #1f1f1f;
            color: #fff;
            cursor: pointer;
            h5{
                margin: 0;
                font-size: 1rem;
            }
        }
        .wishlist{
            width: 27%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: 1px solid #1f1f1f;
            cursor: pointer;
            &:hover{
                background-color: #1f1f1f;
                color: #fff;
            }
            h5{
                margin: 0;
            }
        }
    }
    .product-endof{
        margin-bottom: 2rem;
        margin-top: 2rem;
        h5{
            color: #525252;
        }
        a{
            color: inherit;
            // text-decoration: underline !important;
        }
    }
    .share{
        display: flex;
        max-width: 30%;
        justify-content: space-between;
        align-items: center;
        h5{
            margin-right: 1rem !important;
            margin: auto;
            display: flex;
            text-align: center;
            align-items: center;
        }
        .icons{
            gap: 10px;
            display: flex;
            .icon{
                // width: 30px;
                // height: 30px;
                padding: 10px;
                border-radius: 50%;
                background-color: #f5f5f5;
                color: #a6a6a6;
            }
        }
    }
}
.nav-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin:40px 13% 10px 13% ;
    margin-top: 40px;
    margin-bottom: 10px;
    color: black;
    padding-bottom: 20px;
    // border: none;
    .nav-link{
        color: #1f1f1f;
        &:hover
        {
            color: #fd7e14;
        }
       
    }
}
.hr{
    height: 10px;
    margin-right: 13%;
    margin-left: 13%;
   background-color: #1f1f1f;
}
#descriptionTab{
    // margin-right: 26%;
    // margin-left: 26%;
    p{
        color: #525252;
        line-height: 29px;
    }
    ul{
        display: block;
        grid-template-columns: auto auto;
        li{
            list-style: none;
        }
    }
    .info{
        display: flex;
        gap: 20%;
    }
}
.items{
    display: flex;
    justify-content: space-between;
    margin-right: 13%;
    margin-left: 13%;
    margin: 5rem 13% 1.5rem 13% ;
    .item{
        display: block;
        img{
            width: 253px;
            height: 300px;
        }
        .badge{
            padding: 5px 10px;
            background-color: #fff;
            color: #1f1f1f;
            position: absolute;
            margin-top: 20px;
            margin-left: -253px;
        }
        .item-info{
            margin-top: 30px;
            a, .price{
                color: #767676;
            }
            h5{
                opacity: 1;
                padding-top: 10px;
                padding-bottom: 8px;
                color: #1f1f1f;
                font-size: 16px;
            }
        }
    }
}