*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

.bloc-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin: 20px 13% 20px 13%;
}

.tabs {
  padding: 15px;
  text-align: center;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.active-tabs {
  background: white;
  color: orange;
  border-bottom: 2px solid orange;
}

button {
  border: none;
}

.content-tabs {
  display: flex;
  flex-grow: 1;
}

.container {
  margin: 0 auto;
}

.content {
  background: white;
  padding-top: 20px;
  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  display: block;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 13%;
  margin-left: 13%;
}

.items .item {
  display: block;
  width: 253px;
  margin-bottom: 40px;
  border: 1px solid #f3efef;
}

.items .item img {
  width: 253px;
  height: 300px;
}

.items .item .badge {
  padding: 5px 10px;
  background-color: #fff;
  color: #1f1f1f;
  position: absolute;
  margin-top: -265px;
  margin-left: -126px;
}

.items .item .item-info {
  margin-top: 30px;
  text-align: start;
}

.items .item .item-info a, .items .item .item-info .price {
  color: #767676;
}

.items .item .item-info h5 {
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 8px;
  color: #1f1f1f;
  font-size: 16px;
}
