@media screen and (min-width: 1100px) {
  .tablet {
    display: none;
  }
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: none;
  }
  .mobile {
    display: block;
  }
}
