body {
  margin: 0;
  padding: 0;
}

.header {
  margin-right: 14.6%;
  margin-left: 13%;
}

.header ul {
  justify-content: center;
  align-items: center;
}

.header ul li {
  padding-right: 32px;
}

.header .icons {
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 1300px) {
  .navLinks {
    display: none;
  }
  .icons {
    display: none;
  }
  .closes {
    display: block;
  }
}
